---
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
import EventSlider from "../components/EventSlider.astro";

import HomePagePosts from "../components/Blog/HomePagePosts.astro";

import BannerEvents from "../components/BannerEvents.astro";
import { playlists, morePlaylists } from "../lib/data";

import EventsTable from "../components/EventsTable.astro";
import EventCategories from "../components/EventCategories.astro";
import Ticker from "../components/Ticker.astro";

import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Brand from "../components/Brand.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="SINERGIAFEST 2024">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#fff;"
  >
    <PageHeader />

    <Hero />

    <Ticker />

    <EventCategories />

    <p class="mt-4 max-w-2xl mx-auto bg-customPrimary70 px-6 py-12 text-left">
      Descubre la emoción de la innovación en vivo, celebra la diversidad
      tecnológica y sumérgete en ideas transformadoras. Prepárate para
      embarcarte en un viaje extraordinario hacia el futuro de la tecnología.
    </p>

    <!-- Event slider -->
    <div class="container max-w-screen-lg mx-auto px-4 mt-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <h2
          class="text-4xl my-8 md:text-5xl lg:text-7xl font-bold text-customSecondary100 text-center"
        >
          Event Calendar
        </h2>
        <span></span>
      </div>

      <EventSlider />
    </div>

    <!-- <HomePagePosts /> -->

    <section class="relative p-4 text-white text-center py-14">
      <div class="relative z-10 p-20 bg-customGray rounded">
        <h2 class="text-5xl font-bold">GET YOUR TICKET TODAY</h2>
        <p class="mt-4 max-w-2xl mx-auto">
          Experience the thrill, excitement, and magic of upcoming events. Don’t
          miss your chance to be part of the action – get your ticket today.
        </p>
        <button
          class="mt-12 px-8 py-4 bg-customYellow text-black hover:bg-customYellowHover"
          >BUY TICKET NOW</button
        >
        <img
          src="/singer.png"
          alt="Background"
          class="absolute bottom-0 right-9 w-1/4 h-auto object-cover z-0"
        />
      </div>
    </section>

    <PageFooter />
  </div>
</Layout>
