---
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
import Agenda from "../components/Agenda.astro";
import Ticker from "../components/Ticker.astro";

import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Hero from "../components/Hero.astro";
import SpeakersList from "../components/SpeakersList.astro";
import ComunnitiesList from "../components/ComunnitiesList.astro";
import GoogleMap from "../components/GoogleMap.astro";
import ParticlesRare from "../components/ParticlesRare.astro";
---

<Layout
  title="Sinergiafest - ¡Conéctate con el futuro de la tecnología en el SINERGIAFEST! "
>
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#fff; "
  >
    <div id="init"></div>
    <PageHeader />

    <Hero />

    <Ticker />

    <div id="playlist-contain">
      <div id="agenda" class="min-h-screen">
        <div
          class="container max-w-screen-lg mx-auto px-6 py-12 sm:py-24 relative"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h2
              class="text-2xl my-8 md:text-5xl lg:text-8xl font-bold text-customSecondary100 text-center"
            >
              Agenda de evento
            </h2>
            <span></span>
          </div>
          <Agenda />
        </div>
      </div>

      <div id="speakers" class="bg-gradient-to-r from-[#010507] to-[#243642]">
        <div
          class="container max-w-screen-lg mx-auto px-6 py-12 sm:py-24 relative"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h2
              class="text-2xl my-8 md:text-5xl lg:text-8xl font-bold text-white text-center"
            >
              Nuestros speakers
            </h2>
            <span></span>
          </div>

          <SpeakersList />
        </div>
      </div>

      <section class="relative text-white text-center">
        <div
          class="relative z-10 p-10 sm:p-20 bg-customPrimary100 rounded scotch-container"
        >
          <h2 class="text-2xl sm:text-5xl font-bold">CALL FOR SPEAKERS</h2>
          <p class="mt-4 max-w-2xl mx-auto pb-12 text-sm sm:text-base">
            Estamos buscando líderes, innovadores y expertos apasionados para
            ser parte de nuestro evento. Si tienes una idea disruptiva,
            conocimientos valiosos o una experiencia que inspire, ¡queremos
            escucharte!
          </p>
          <ButtonLink
            text="Contáctanos"
            link="https://docs.google.com/forms/d/e/1FAIpQLScpGsZY90jDzrRt8JS9Oh7T9MBnF0H3Q5QwfixoVlb184k1hw/viewform"
          />
          <img
            src="/singer.png"
            alt="Background"
            class="absolute bottom-0 right-9 w-1/4 h-auto object-cover z-0"
          />
        </div>
      </section>

      <ComunnitiesList />

      <section class="relative text-white text-center pt-14" id="sponsors">
        <div
          class="relative z-10 p-10 sm:p-20 bg-customPrimary100 rounded scotch-container"
        >
          <h2 class="text-2xl sm:text-5xl font-bold">CALL FOR SPONSORS</h2>
          <p class="mt-4 max-w-2xl mx-auto pb-12 text-sm sm:text-base">
            Únete a nosotros como patrocinador y conecta con una audiencia
            influyente y apasionada. Tu marca estará en el centro de la acción,
            aumentando su visibilidad y estableciendo relaciones clave con
            líderes de la industria.
          </p>
          <ButtonLink
            text="Contáctanos"
            link="https://drive.google.com/file/d/1oYyLBPLf8qBH1QTMuGPswDS0S-W-ZFmS/view"
          />
          <img
            src="/singer.png"
            alt="Background"
            class="absolute bottom-0 right-9 w-1/4 h-auto object-cover z-0"
          />
        </div>
      </section>

      <GoogleMap />

      <PageFooter />
    </div>
  </div>
</Layout>
