---
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
import EventSlider from "../components/EventSlider.astro";

import HomePagePosts from "../components/Blog/HomePagePosts.astro";

import BannerEvents from "../components/BannerEvents.astro";
import { playlists, morePlaylists } from "../lib/data";

import EventsTable from "../components/EventsTable.astro";
import EventCategories from "../components/EventCategories.astro";
import Ticker from "../components/Ticker.astro";

import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Brand from "../components/Brand.astro";
import Hero from "../components/Hero.astro";
import SpeakersList from "../components/SpeakersList.astro";
import ComunnitiesList from "../components/ComunnitiesList.astro";
---

<Layout title="SINERGIAFEST 2024">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#fff; "
  >
    <div id="init"></div>
    <PageHeader />

    <Hero />

    <Ticker />

    <div id="playlist-contain">
      <div id="agenda">
        <div class="container max-w-screen-lg mx-auto px-4 py-24 relative">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h2
              class="text-4xl my-8 md:text-5xl lg:text-8xl font-bold text-customSecondary100 text-center"
            >
              Agenda de evento
            </h2>
            <span></span>
          </div>

          <EventSlider />
        </div>
      </div>

      <div id="speakers" class="bg-customPrimary100">
        <div class="container max-w-screen-lg mx-auto px-4 py-24 relative">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <h2
              class="text-4xl my-8 md:text-5xl lg:text-8xl font-bold text-white text-center"
            >
              Nuestros speakers
            </h2>
            <span></span>
          </div>

          <SpeakersList />
        </div>
      </div>
      <Ticker />

      <section class="relative text-white text-center">
        <div
          class="relative z-10 p-10 sm:p-20 bg-customPrimary100 rounded scotch-container"
        >
          <h2 class="text-2xl sm:text-5xl font-bold">CALL FOR SPEAKERS</h2>
          <p class="mt-4 max-w-2xl mx-auto pb-12 text-sm sm:text-base">
            Estamos buscando líderes, innovadores y expertos apasionados para
            ser parte de nuestro evento. Si tienes una idea disruptiva,
            conocimientos valiosos o una experiencia que inspire, ¡queremos
            escucharte!
          </p>
          <ButtonLink
            text="Contáctanos"
            link="https://docs.google.com/forms/d/e/1FAIpQLScpGsZY90jDzrRt8JS9Oh7T9MBnF0H3Q5QwfixoVlb184k1hw/viewform"
          />
          <img
            src="/singer.png"
            alt="Background"
            class="absolute bottom-0 right-9 w-1/4 h-auto object-cover z-0"
          />
        </div>
      </section>

      <ComunnitiesList />

      <section class="relative text-white text-center pt-14" id="sponsors">
        <div
          class="relative z-10 p-10 sm:p-20 bg-customPrimary100 rounded scotch-container"
        >
          <h2 class="text-2xl sm:text-5xl font-bold">CALL FOR SPONSORS</h2>
          <p class="mt-4 max-w-2xl mx-auto pb-12 text-sm sm:text-base">
            Únete a nosotros como patrocinador y conecta con una audiencia
            influyente y apasionada. Tu marca estará en el centro de la acción,
            aumentando su visibilidad y estableciendo relaciones clave con
            líderes de la industria.
          </p>
          <ButtonLink
            text="Contáctanos"
            link="https://drive.google.com/file/d/1FVBHfVVIjViKIIo_28m4EXavuW7hBqhK/view"
          />
          <img
            src="/singer.png"
            alt="Background"
            class="absolute bottom-0 right-9 w-1/4 h-auto object-cover z-0"
          />
        </div>
      </section>

      <!-- <div>
          <div
            id="speakers"
            class="container max-w-screen-lg mx-auto px-4 pt-24 relative"
          >
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <h2
                class="text-4xl my-8 md:text-5xl lg:text-8xl font-bold text-customSecondary100 text-center"
              >
                Nuestros Sponsors
              </h2>
              <span></span>
            </div>

            <SpeakersList />
          </div>
        </div> -->

      <PageFooter />
    </div>

    <style>
      #agenda {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23417f83' fill-opacity='0.29'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
      }
    </style>
  </div>
</Layout>
