---
import Icon from "astro-icon";

interface Props {
    size?: "md" | "lg";
}

const { size = "md" } = Astro.props;
---

<a href="/#init" class="h-4 sm:h-6">
    <img src="/brand.png" alt="Brand Image" class="w-full h-full" />
</a>
