<section class="relative text-white text-center py-7" id="communities">
    <div class="relative z-10 p-10 sm:p-20 rounded text-customPrimary100">
        <h2 class="text-2xl sm:text-4xl md:text-8xl font-bold">COMUNIDADES</h2>
        <p class="mt-4 max-w-2xl mx-auto pb-12 text-sm sm:text-base">
            Hemos tenido el placer de trabajar con compañeros de la industria.
        </p>
        <ul
            class="flex gap-10 sm:gap-20 justify-center items-center mt-10 flex-wrap"
        >
            <img
                loading="lazy"
                src="communities/ieee_peru_cs_rgb_c.png"
                class="h-10 sm:h-20"
            />
            <img
                loading="lazy"
                src="communities/ieee_untels_cs_rgb_pp_c.png"
                class="h-10 sm:h-20"
            />
            <img
                loading="lazy"
                src="communities/ieee_untels_rgb_u_stacked_b.png"
                class="h-5 sm:h-10"
            />
            <img
                loading="lazy"
                src="communities/ieee_untels_pes_rgb_pp_blue.png"
                class="h-10 sm:h-20"
            />
            <img
                loading="lazy"
                src="communities/comutec.png"
                class="h-10 sm:h-20"
            />
        </ul>
        <ul
            class="flex gap-10 sm:gap-20 justify-center items-center mt-8 flex-wrap"
        >
            <img
                loading="lazy"
                src="communities/IMG_0052.PNG"
                class="h-10 sm:h-20"
            />
            <img
                loading="lazy"
                src="communities/EMBS_NEW LOGO_ COMPLETE LOGO.png"
                class="h-10 sm:h-20"
            />
            <img
                loading="lazy"
                src="communities/investiga_peru_logo.jpg"
                class="h-10 sm:h-20"
            />
            <img
                loading="lazy"
                src="communities/ieee_untels_comsoc_rgb_pp_blue.png"
                class="h-10 sm:h-20"
            />
        </ul>
        <ul class="flex gap-10 sm:gap-20 justify-center items-center mt-8">
            <img
                loading="lazy"
                src="communities/ieee_upc_cs_rgb_pp_c.png"
                class="h-10 sm:h-20"
            />
        </ul>
    </div>
</section>

<style>
    /* #communities {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23417f83' fill-opacity='0.29'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
    } */
</style>
