---
import ButtonLink from "./ButtonLink.astro";

interface Props {
    title?: string;
    description?: string;
}

const {
    title = "SINERGIAFEST 2024",
    description = "Conéctate con el futuro de la tecnología, donde la innovación se encuentra con ideas transformadoras para crear un mundo lleno de posibilidades.",
} = Astro.props;
---

<section
    class="text-center py-24 px-4 sm:px-32 relative min-h-[600px] flex flex-col justify-center items-center"
>
    <div class="absolute inset-0 w-full z-10 opacity-50"></div>
    <!-- <img
        src="/banner.jpg"
        alt="Background Image"
        class="absolute inset-0 w-full h-full object-cover opacity-40 blur-[3px]"
    /> -->
    <div class="relative z-10 max-w-4xl mx-auto">
        <h1
            class="text-3xl md:text-6xl lg:text-8xl font-extrabold text-customPrimary100 uppercase animate__animated animate__wobble"
        >
            {title}
        </h1>
        <p
            class="mt-4 text-sm md:text-base lg:text-lg text-customPrimary100 max-w-3xl mx-auto"
        >
            {description}
        </p>
        <div class="mt-8 flex justify-center gap-4 flex-wrap">
            <ButtonLink text="Regístrate" />
            <a
                href="/#agenda"
                class="bg-customPrimary100 text-white py-2 px-6 hover:opacity-85 rounded-sm"
                >Agenda</a
            >
        </div>
    </div>
</section>
