---
import Brand from "./Brand.astro";
import ButtonLink from "./ButtonLink.astro";
---

<div
  class="py-4 px-4 sm:px-32 flex justify-between items-center border-b-2 bg-white sticky top-0 z-50"
  transition:name="page header"
  transition:persist
>
  <Brand />

  <!-- Botón "Hamburguesa" para móvil -->
  <button
    class="sm:hidden block text-customSecondary100 focus:outline-none"
    aria-label="Toggle Menu"
    id="button-bar"
  >
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
  <nav
    id="navbar"
    class="w-full h-full sm:w-fit fixed sm:relative top-14 sm:top-0 right-0 sm:right-0 backdrop-blur-sm bg-customSecondary100/30 sm:bg-transparent flex justify-end"
  >
    <ul
      class="w-full sm:w-full h-fit mr-5 ml-1 sm:m-0 bg-customSecondary100 sm:bg-transparent flex flex-col sm:flex-row justify-between items-end sm:items-center gap-2 p-2 sm:gap-8 mt-1 text-white sm:text-customSecondary100 text-center"
    >
      <li>
        <a
          href="/#agenda"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Agenda</a
        >
      </li>
      <li>
        <a
          href="/#speakers"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Speakers</a
        >
      </li>
      <li>
        <a
          href="/#communities"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Comunidades</a
        >
      </li>
      <li class="hidden sm:block">
        <a
          href="/#sponsors"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Sponsors</a
        >
      </li>
    </ul>
  </nav>
  <div class="mt-1 hidden sm:block">
    <ButtonLink text="Regístrate" />
  </div>
</div>

<script>
  let isOpen = false;
  const navbarElement = document.getElementById("navbar");

  document.getElementById("button-bar")?.addEventListener("click", () => {
    isOpen = !isOpen;
    if (isOpen) {
    }
    navbarElement?.classList.toggle("hidden", isOpen);
  });
</script>
