---
import Brand from "./Brand.astro";
import ButtonLink from "./ButtonLink.astro";
---

<div
  class="py-4 px-4 sm:px-32 flex justify-between items-center border-b-2 bg-white sticky top-0 z-50"
  transition:name="page header"
  transition:persist
>
  <Brand />

  <!-- Botón "Hamburguesa" para móvil -->
  <!-- Botón que cambia entre hamburguesa y "X" -->
  <button
    id="menuButton"
    class="sm:hidden block text-customSecondary100 focus:outline-none"
    aria-label="Toggle Menu"
  >
    <!-- Ícono de menú hamburguesa por defecto -->
    <svg
      id="hamburgerIcon"
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
    <!-- Ícono de "X", oculto inicialmente -->
    <svg
      id="closeIcon"
      class="w-6 h-6 hidden"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <nav
    id="menu"
    class="w-full h-full sm:w-fit fixed sm:relative top-14 sm:top-0 right-0 sm:right-0 backdrop-blur-sm bg-customSecondary100/30 sm:bg-transparent hidden sm:flex justify-end transition-all ease-linear"
  >
    <ul
      class="w-full sm:w-full h-fit mr-1 ml-1 sm:m-0 bg-customSecondary100 sm:bg-transparent flex flex-col sm:flex-row justify-between items-end sm:items-center gap-4 p-4 sm:p-0 sm:gap-8 mt-1 text-white sm:text-customSecondary100 text-center"
    >
      <li>
        <a
          href="/#agenda"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Agenda</a
        >
      </li>
      <li>
        <a
          href="/#speakers"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Speakers</a
        >
      </li>
      <li>
        <a
          href="/#communities"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Comunidades</a
        >
      </li>
      <li>
        <a
          href="/#sponsors"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Sponsors</a
        >
      </li>
    </ul>
  </nav>
  <div class="mt-1 hidden sm:block">
    <ButtonLink text="Regístrate" />
  </div>
</div>

<script>
  const menuButton = document.getElementById("menuButton");
  const menu = document.getElementById("menu");
  const hamburgerIcon = document.getElementById("hamburgerIcon");
  const closeIcon = document.getElementById("closeIcon");

  menuButton?.addEventListener("click", () => {
    const isOpen = menu?.classList.contains("hidden");

    // Toggle visibility of the menu
    if (isOpen) {
      menu?.classList.remove("hidden");
      menu?.classList.add("flex");
    } else {
      menu?.classList.add("hidden");
      menu?.classList.remove("flex");
    }

    // Toggle icons
    hamburgerIcon?.classList.toggle("hidden");
    closeIcon?.classList.toggle("hidden");
  });
</script>
