---
import Brand from "./Brand.astro";
import ButtonLink from "./ButtonLink.astro";
---

<div
  class="py-4 px-4 sm:px-32 flex justify-between items-center border-b-2 backdrop-blur-sm sticky top-0 z-50"
  transition:name="page header"
  transition:persist
>
  <!-- <a
    href="/"
    aria-label="go back to home page"
    class="text-2xl font-bold text-black"
  >
    SINERGIAFEST
  </a> -->
  <Brand />
  <nav class="w-full sm:w-fit">
    <ul
      class="flex justify-between items-center gap-2 sm:gap-8 w-full mt-1 text-customPrimary100 text-center"
    >
      <li>
        <a
          href="/#agenda"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Agenda</a
        >
      </li>
      <li>
        <a
          href="/#speakers"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Speakers</a
        >
      </li>
      <li>
        <a
          href="/#communities"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Comunidades</a
        >
      </li>
      <li class="hidden sm:block">
        <a
          href="/#sponsors"
          class="hover:text-customPrimary70 font-semibold text-xs sm:text-base"
          >Sponsors</a
        >
      </li>
    </ul>
  </nav>
  <div class="mt-1 hidden sm:block">
    <ButtonLink text="Regístrate" />
  </div>
</div>
