<section class="relative z-10">
  <div
    class="bg-gradient-to-r from-[#010507] to-[#243642] text-white py-4 overflow-hidden relative"
  >
    <div class="whitespace-nowrap animate-marquee">
      <span
        class="inline-block font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl uppercase"
      >
        Las empresas más innovadoras
        <span class="mx-2">✦</span> Gratuito
        <span class="mx-2">✦</span> TALLERES <span class="mx-2">✦</span>
        PONENCIAS <span class="mx-2">✦</span>
        LIMA PERÚ
        <span class="mx-2">✦</span>
        <span
          class="inline-block font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl uppercase"
        >
          feria de especialidades
          <span class="mx-2">✦</span> Las empresas más innovadoras TALLERES <span
            class="mx-2">✦</span
          >
          PONENCIAS <span class="mx-2">✦</span>
          LIMA PERÚ
        </span>
      </span>
    </div>
  </div>
</section>
